.movies{
display: flex;
margin: 0 auto;
gap: 36px;
padding-left: 29px;
padding-right: 40px;
}
.movie{
display: flex;
gap: 20px;
font-size: 12px;
padding-bottom: 35px;
}
h1{
color: #000000;
font-size: 20px;
line-height: 28px;
}
picture{
display: flex;
}
.text1{
color: #827E7E;
}
.description{
padding-right: 55px;
line-height: 22px;
}